# Dependencies
node_modules

# Build
dist
*.tsbuildinfo

# Test / coverage
coverage

# Storybook
storybook-static
storybook-debug.log

# Local / OS
.DS_Store
*.log
.env
.env.*

# IDE
.idea
.vscode/

# Husky
.husky/_
